body {
    font-family: Arial, sans-serif;
    background:linear-gradient(grey,rgb(31, 29, 29));
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(black,grey,rgb(24, 21, 21));
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:#f0f0f0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}
  
input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
}

select {
    width: calc(100% - 135px);
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #353166;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2c2661d3;
}

  /* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
.container {
    max-width: 90%;
    }
}
