<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
    <style>
        .body{
            background: url(/static/css/images/v1016-b-09.jpg);
        }
    </style>
    <title>Login</title>
</head>

<body >
    <h1>Iniciar sesión</h1>
    <form id="loginForm" action="/login" method="POST">
        <div class="input-icon">
            <label class="font-effect-neon" for="email"><i class="fa fa-user"></i> Usuario</label><br>
            <input class="etiqueta_uno" id="email" type="email" name="email" required>
        </div><br>
        <div class="input-icon">
            <label class="font-effect-neon" for="contrasena"><i class="fa fa-lock"></i> Password:</label><br>
            <input class="etiqueta_dos" id="contrasena" type="password" name="contrasena">
        </div><br><br>
        <button id="boton_inicio" type="submit">Iniciar sesión</button>
    </form>

    <p>¿No tienes cuenta? <a href="registro.html">Registrarse aquí</a></p>

   
</body>

</html>